<div id="<%= dom_id calculator %>">
  <p>
    <strong>Body weight:</strong>
    <%= calculator.body_weight %><strong>lbs</strong>
    
  </p>

  <p>
    <strong>Goal weight:</strong>
    <%= calculator.goal_weight %>
  </p>

  <p>
    <strong>Protein Intake:</strong>
    <%= calculator.protein %>
  </p>

</div>
