<div id="<%= dom_id calculator %>">
  <p>
    <strong>Body weight:</strong>
    <%= calculator.body_weight %> <span>lbs</span>
    
  </p>

  <p>
    <strong>Goal weight:</strong>
    <%= calculator.goal_weight %> <span>lbs</span>
  </p>

  <p>
    <strong>Protein Intake:</strong>
    <%= calculator.protein %> <span>grams</span>
  </p>

</div>
