include 

<p style="color: green"><%= notice %></p>

<%= render @calculator %>

<div>

   <strong>Protein Deficit/Surplus:
     <% return_result %>
   </strong>
  <div><%= link_to "Edit", edit_calculator_path(@calculator) %> 
  <%# <#%= link_to "Back to calculators", calculators_path %> </div>
  

  <%= button_to "New Calculation", @calculator, method: :delete %>
</div>
